.container {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

#title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #c3073f;
}

.flex {
  display: flex;
  height: 70vh;
  border: 10px solid #4e4e50;
  border-radius: 25px;
}

.flex-child {
  flex: 1;
}

.left-pane {
  border-right: 10px solid #4e4e50;
  width: 30%;
}

.right-pane {
  margin-left: 250px;
}

body,
html {
  margin: 15px;
  height: 100%;
  background-color: #1a1a1d;
}
