.container {
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.flex {
  display: flex;
  height: 70vh;
  border: 10px solid darkblue;
  border-radius: 25px;
}

.flex-child {
  flex: 1;
}

.left-pane {
  border: 1px solid darkblue;
  width: 30%;
}

.right-pane {
  margin-left: 250px;
}

body,
html {
  margin: 15px;
  height: 100%;
}
